<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  <!--SERVICE MODEL-->
  <!--<system.serviceModel>
    <services>-->


  <!--SERVICE-->
  <!--<service name="MakaoGameHostService.ServiceImplementations.MakaoGameHostServiceImplementation" behaviorConfiguration="endpointDiscoveryBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9500/MakaoGameHostWindowsService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="MakaoGameHostService.ServiceContracts.IMakaoGameHostService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint kind="udpDiscoveryEndpoint"/>
      </service>
    </services>-->
    
    <!--BEHAVIORS-->
  <!--<behaviors>
      <serviceBehaviors>
        <behavior name="endpointDiscoveryBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->


  <!--STSRTUP-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>