<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakaoGraphicsRepresentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MakaoGraphicsRepresentation.Properties.Settings>
            <setting name="CurrentUserName" serializeAs="String">
                <value>UserName</value>
            </setting>
            <setting name="CurrentUserAvatar" serializeAs="String">
                <value>/Avatars/01.png</value>
            </setting>
            <setting name="AmountOfPlayers" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AmountOfDecks" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AmountOfJokers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AmountOfStartCards" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PlayedGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WaitingForReadinessTimeout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CardBacks" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ReadinessTimeoutEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoiningTimeoutEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitingForJoiningTimeout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlayedAndWonGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocationOfThirdPlayer" serializeAs="String">
                <value>Left</value>
            </setting>
        </MakaoGraphicsRepresentation.Properties.Settings>
    </userSettings>
</configuration>